<launch>

  <arg name="model" default="$(find my_robot_urdf)/urdf/my_robot_x.urdf"/>
  <!--<arg name="gui" default="true" />-->
  <arg name="rvizconfig" default="$(find my_robot_urdf)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <!--<param name="use_gui" value="$(arg gui)"/>-->

  <include file="$(find my_robot_urdf)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>
  
  <!--
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> 
  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <rosparam command="load"
            file="$(find my_robot_urdf)/config/joints.yaml"
            ns="r2d2_joint_state_controller" />
  
  <rosparam command="load"
            file="$(find my_robot_urdf)/config/diffdrive.yaml"
            ns="r2d2_diff_drive_controller" /> 

  <node name="r2d2_controller_spawner" pkg="controller_manager" type="spawner"
    args="r2d2_joint_state_controller
          r2d2_diff_drive_controller
          --shutdown-timeout 3"/>
        

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/r2d2_diff_drive_controller/cmd_vel"/>
  </node>

</launch>
